* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* COMMON */
html {
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  color: white;
  background-color: #141922;
  height: 100vh;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  display: flex;
}

main {
  display: flex;
  height: 80vh;
}
/* HEADER */
header {
  background-color: rgba(0, 0, 6, 0.8);
  height: 10vh;
  padding: 1em 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  padding: 1em;
  width: 20%;
}
.logo img {
  object-fit: cover;
  width: 160px;
}
#logo-small {
  display: none;
}
.upgrade {
  border: 1px solid white;
  padding: 1em 2em;
  border-radius: 30px;
}

/* SIDEBAR */
.sidebar {
  background-color: red;
  height: 80vh;
  width: 30%;
}

/* MAIN CONTENT*/
#main-content {
  background-color: green;
  overflow-y: auto;
}

/* PLAYER */
footer {
  background-color: chocolate;
  height: 10vh;
}

/* TABLET */
@media screen and (max-width: 700px) {
}

/* MOBILE */
@media screen and (max-width: 600px) {
  /* HEADER */
  #logo-big {
    display: none;
  }
  #logo-small {
    display: block;
    width: 30px;
  }
}
