* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* COMMON */
html {
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  color: white;
  height: 100vh;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  list-style-position: inside;
}
.container {
  display: flex;
}

main {
  display: flex;
  height: 80vh;
  margin-top: 4em;
}
/* HEADER */
header {
  background-color: rgba(0, 0, 6, 0.9);
  height: 10vh;
  width: 100%;
  padding: 1em 0em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}
header .logo {
  padding: 1em;
  width: 15%;
}
.logo #logo-big {
  object-fit: cover;
  width: 100%;
}
#logo-small {
  display: none;
}
header .upgrade {
  border: 1px solid white;
  padding: 0.5em 1em;
  border-radius: 30px;
  margin-right: 1em;
}
header .upgrade a {
  font-size: 0.7rem;
}

/* SIDEBAR */
.sidebar {
  background-color: black;
  height: 80vh;
  width: 20%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.upper-menu > * {
  margin-bottom: 1em;
  color: #a3a3a3;
  font-size: 0.8rem;
}

.upper-menu svg {
  width: 1.5em;
  margin-right: 0.3em;
  vertical-align: middle;
  fill: #a3a3a3;
}

.playlist > * {
  margin-bottom: 1em;
  font-size: 0.8rem;
  color: #a3a3a3;
}

#add-i {
  background-color: #a3a3a3;
  padding: 0.5em;
  color: black;
}

.lower-menu > * {
  margin-bottom: 1em;
  color: #a3a3a3;
  font-size: 0.8rem;
}
.lower-menu svg {
  width: 1em;
  margin-right: 0.3em;
  vertical-align: middle;
}
#account {
  padding: 0.7em;
  /* background-color: #a3a3a3; */
  border-radius: 50%;
}

.lower-menu li:last-child {
  font-weight: bold;
  color: white;
}

/* .menu svg {
  fill: #a3a3a3;
} */

/* MAIN CONTENT*/
#main-content {
  background-color: #141922;
  overflow-y: auto;
  width: 80%;
  padding: 1em;
}
.secondary-menu {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.secondary-menu li > a {
  font-size: 0.5rem;
  line-height: 0.5rem;
}

#main-content h2 {
  margin-bottom: 1em;
}

.songs-container {
  display: flex;
  gap: 1em;
  margin-bottom: 1.5em;
}
.song {
  width: calc(100% / 6);
}

.descrizione {
  margin-bottom: 1em;
}

.artist-container {
  display: flex;
  gap: 1em;
  margin-bottom: 1.5em;
}
.artist-container .song img {
  border-radius: 50%;
}
.song h3,
.artist {
  text-align: center;
}

/* PLAYER */
footer {
  height: 10vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
}

.player-left {
  display: flex;
  align-items: center;
}
.player-song-img {
  width: 3.5em;
  padding: 0.5em;
}
.player-song-artist-name {
  font-weight: bold;
  font-size: 0.6rem;
}
.player-song-track-name {
  font-size: 0.7rem;
  font-weight: 100;
  color: #a3a3a3;
}
.player-song-add-controls {
  margin: 0 2em;
}
.player-song-add-controls > * {
  color: #a3a3a3;
  margin-right: 0.2rem;
}
.player-centre {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.player-control-icons {
  padding: 0.5em;
}
.player-control-icons > * {
  margin-right: 0.5em;
}
.player-control-bar {
  display: flex;
  align-items: center;
}
.player-control-bar span {
  font-size: 0.6rem;
}
.player-control-bar hr {
  width: 170px;
  margin: 0 0.5em;
}

.player-right {
  display: flex;
  align-items: center;
}
.player-right > * {
  margin-right: 1em;
}
.player-right hr {
  width: 70px;

  border-color: #a3a3a3;
}
/* TABLET */
@media screen and (max-width: 700px) {
  /* MAIN CONTENT */
  .songs-container {
    flex-wrap: wrap;
  }
  .song {
    width: calc(100% / 4 - 1em);
  }
}

/* MOBILE */
@media screen and (max-width: 600px) {
  /* HEADER */
  #logo-big {
    display: none;
  }
  #logo-small {
    display: block;
    width: 30px;
  }
  /* SIDEBAR */
  .sidebar {
    width: 10%;
    align-items: center;
  }
  .sidebar span {
    display: none;
  }

  .menu svg {
    width: 1.5em;
  }
  .playlist {
    display: none;
  }
  .lower-menu span {
    display: none;
  }
  .lower-menu hr {
    display: none;
  }

  /* MAIN CONTENT */
  #main-content {
    width: 90%;
  }

  .song {
    width: calc(100% / 2 - 1em);
  }
}
